<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:insert = "~{head.html}">
</head>
<body>
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">CRM SYSTEM</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" th:href="@{'/home'}">All Requests</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" th:href = "@{'/checked'}">Checked Requests</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" th:href="@{'/unchecked'}">Unchecked Requests</a>
          </li>
          <li class="nav-item">
            <a  th:href = "@{'/addtask'}" class="nav-link">+Add Requests</a>
          </li>
        </ul>
      </div>
      <form class="d-flex" role = "search" th:action = "@{'/search'}" method ="get">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name = "key"
        th:value ="${param.key}">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>
</body>
</html>